@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'poppins',sans-serif;
}

:root{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#754ef9;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,0.2);
}

.dark-mode
{
    --bg-color:#0b061f;
    --text-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,0.7);
    /* --background-image:url("assets/images/background.jpg"); */

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    /* background-image: var(--background-image) */
}
section
{
    min-height: 100vh;
    padding: 10rem 7% 2rem;

}
@media(max-width:1200px)
{
    html{
        font-size: 55%;
    }
}
@media(max-width:450px)
{
html
{
    font-size: 50%;
}

}

@media(max-width:395px)
{
    html
    {
        font-size: 40%;
    }
}